    body {
            font-family: maplestory !important;
            background-image: url(../img/numbers-g10ad03de6_1920.jpg);
        } 
        
    html {
        height: 100%;
    }

        @font-face {
            font-family: maplestory;
            src: url(../font/Maplestory\ Bold.ttf);
            }
        @font-face {
            font-family: nexon;
            src: url(../font/NEXON\ Lv1\ Gothic\ OTF.otf);
            }

        /* 로고 */
        #logo {
            text-align: center !important;
            margin-left:9%; margin-top:50px;
            width: 80%;
            display: inline-block;
            text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
            }

            #logo a  {
                text-decoration: none;
                color: black;
                } 

            .text-warning , .text2 {
                display: inline-block;
                animation-name : Hissss;
                animation-iteration-count : infinite;
                animation-duration : 2s;
                animation-timing-function: linear;
                font-size:3rem;
                }

            @keyframes Hissss {
                0% {
                    transform: rotate(-10deg);
                }
                50% {
                    transform: rotate(0);
                }
                100% {
                    transform: rotate(-10deg);
                }
                }
        /* 퀴즈 */
        .quiz__wrap {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 150px;
            flex-wrap: wrap;
            }
            .quiz {
                max-width: 500px;
                width: 100%;
                background-color: #ffffff8f;
                border: 2px solid rgb(243, 243, 17);
                border-radius: 20px;
                margin: 10px;
                box-shadow: 2px 2px 5px;
            }
            .quiz__type {
                text-align: center;
                display: block;
                font-size: 16px;
                color: #3b3b3b;
                font-family: nexon;
                font-weight: bold;
                padding: 4px;
            }
            .quiz__question {
                text-align: center;
                padding: 20px;
                font-family: maplestory;
                font-weight: normal;
                line-height: 1.4;
                
            }
            .quiz__answer {
                padding: 10px;
                font-size:2rem;
            }
            .quiz__answer .result {
                width: 100%;
                font-size: 22px;
                border: 2px solid rgb(243, 243, 17);
                padding: 13px 20px;
                box-sizing: border-box;
                text-align: center;
                font-family: nexon;
                line-height: 1.4;
                border-radius: 25px;
            }
            .quiz__answer button {
                border: 2px solid black;
                border-radius: 25px;
                margin-top:10px;
                width: 100%;
                font-size: 22px;
                padding: 13px 20px;
                background-color: #0e02022d;
                font-family: maplestory;
                cursor: pointer;
                color:white;
                text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
            }
            .quiz__answer .input {
                border:solid 2px black;
                width:100%;
                font-size: 22px;
                border-radius: 25px;
                font-family: maplestory;
                text-align: center;
                height: 50px;
            }
            .home {
                text-decoration: none;
                text-align: center;
                color: black;
                text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
            }
                #sp1 { color:red } 
                #sp2 { color:orange } 
                #sp3 {color:rgb(247, 247, 20)}
                #sp4 { color: greenyellow} 
                #sp5 {color:blue} 
                #sp6 {color:#000080}
                #sp7 { color:purple}
        /* 푸터 */
        #foot_box {
            border: solid 2px black;
            height: 120px;
            margin:auto; margin-top:100px;
            background-color: black;
        }
            #foot_box p {
                font-size:1.5rem;
                color:white;
                margin:0px;
            }
            #p1 {
                margin-top:10px;
            }
        
            #foot_box a {
                float:right;
                position: relative;
                bottom:25px;
            }
            #foot_box a img{
                width: 2rem;
            }

        /* 반응형 웹 */
        @media screen and (max-width:499px){
            img {width:300px;}
        }

        
